<div class="col-md-6">
  <h2> Movie Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Release Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.name }}</td>
      <td>{{ movie.description }}</td>
      <td>{{ movie.releaseDate }}</td>
      <td><button class="btn btn-danger" (click)="deleteMovie(movie)"> Delete Movie</button></td>
    </tr>
    </tbody>
  </table>
</div>
